<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo">
                    <a href="/">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="./about.html">Álbums</a></li>
                        <li><a href="./about.html">Libros</a></li>
                        <li><a href="./about.html">Acerca De</a></li>
                        <li><a href="./services.html">Contactos</a></li>
                        <li><a href="./login">Inciar Sesión</a></li>
                        <li><a href="./register">Registrarme</a></li>
                        <li><a href="#">Username</a>
                            <ul class="dropdown">
                                <li><a href="./gallery.html">Ver Perfil</a></li>
                                <li><a href="./portfolio-details.html">Cerrar Sesión</a></li>                                
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </div>
</header>